@model TrabajoFinalLabIV.Models.Jugador

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Asegúrate de que el diseño sea el correcto
}

<div class="container mt-5">
    <h4 class="text-center">Crear Jugador</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" enctype="multipart/form-data" asp-controller="Jugadores" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Apellido" class="control-label">Apellido</label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombres" class="control-label">Nombres</label>
                    <input asp-for="Nombres" class="form-control" />
                    <span asp-validation-for="Nombres" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Biografia" class="control-label">Biografía</label>
                    <textarea asp-for="Biografia" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Biografia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label">Foto</label>
                    <input asp-for="Foto" type="file" id="seleccionImg" class="form-control" />
                    <img id="imagen" src="" alt="Imagen seleccionada" height="100" width="100" />
                </div>
                <div class="form-group">
                    <label asp-for="ClubId" class="control-label">Club</label>
                    <select asp-for="ClubId" class="form-control">
                        <option value="">Selecciona un club</option>
                        @foreach (var club in ViewBag.Clubes)
                        {
                            <option value="@club.Value">@club.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Crear" class="btn btn-primary btn-sm" />
                   <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>   
</div>

<form asp-action="Importar" enctype="multipart/form-data" method="post">
    <div class="container mt-5">
        <h4 class="text-center">Importar Jugadores desde CSV</h4>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Seleccione archivo CSV para importar</label>
                    <input asp-for="Foto" type="file" id="import" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Importar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/imagenes.js"></script>

