@model TrabajoFinalLabIV.Models.Categoria

@{
    ViewData["Title"] = "Crear Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container">
    <h1 class="mt-5">Crear Categoría</h1>

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary btn-sm">Crear</button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
                </div>
            </form>
        </div>
    </div>
</div>

