@model TrabajoFinalLabIV.Models.Categoria

@{
    ViewData["Title"] = "Eliminar Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ajusta la ruta al diseño compartido correcto.
}

<div class="container">
    <h1 class="mt-5">Eliminar Categoría</h1>

    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"]?.ToString()))
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="row">
        <div class="col-md-6">
            <h4>Categoría</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">Descripción:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Descripcion)</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</div>
