@model TrabajoFinalLabIV.Models.Categoria

@{
    ViewData["Title"] = "Detalles de Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ajusta la ruta al diseño compartido correcto.
}

<div class="container">
    <h1 class="mt-5">Detalles de Categoría</h1>

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Descripción:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Descripcion)</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary btn-sm">Editar</a>
                <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
            </div>
        </div>
    </div>
</div>

